@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

body, html {
    font-family: 'Smooch Sans', sans-serif;
    overflow-x: hidden;
    padding-left: 5px;
}

#bg {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position-x: -45px;
    background-image: url("https://mfiles.alphacoders.com/883/thumb-1920-883067.png");
    background-position: fixed;
    background-repeat: no-repeat;
}

.home-container {
    position: relative;
    z-index: 1;

    h1 {
        color: #E3DFD6;
        background-color: #000;
        font-weight: bolder;
        font-size: 400%;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    h3 {
        color: #E3DFD6;
        font-size: 200%;
        margin-top: 0;
        padding-left: 10px;
    }

    select, input {
        display: block;
        margin-bottom: 10px;
        color: #E3DFD6;
        font-size: 200%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #E3DFD6;
    }

    input::placeholder {
        color: #E3DFD6;
    }

    input:focus, select:focus {
        outline: none;
    }
}

.player-card {

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 200%;
        color: #E3DFD6;
        background-color: #000;
        padding-left: 10px;
    }

    ul {
        margin-left: -40px;
    }

    li {
        list-style: none;
        font-size: 150%;
        color: #E3DFD6;
    }
}

.legend-icons {
    width: 30%;
}
